@model List<OrderItem>

<h6>Order Details</h6>
<div class="row">
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];

        <input type="hidden" value="@item.ProductId" name="OrderItems[@i].ProductId" />
       
        <div div class="col-12">
            <div class="row">
                <div class="col-md-4">
                    <img class="create_order_product_image" src="@item.PictureUrl" alt="@item.ProductName image" />
                    <input type="hidden" value="@item.PictureUrl" name="OrderItems[@i].PictureUrl" />                   
                </div>
                <div class="offset-md-2 col-md-6">
                    <div class="col-md-12">
                        <p><b>@item.ProductName</b></p>
                        <input type="hidden" value="@item.ProductName" name="OrderItems[@i].ProductName" />                       
                    </div>
                    <div class="col-md-12">
                        <p><b>Price: </b> @item.UnitPrice.ToString("N2") $</p>
                        <input type="hidden" value="@item.UnitPrice" name="OrderItems[@i].UnitPrice" />
                        
                    </div>
                    <div class="col-md-12">
                        <p><b>Discount: </b> @item.Discount %</p>
                        <input type="hidden" value="@item.Discount" name="OrderItems[@i].Discount" />
                        
                    </div>
                    <div class="col-md-12">
                        <p><b>Quantity: </b> @item.Units</p>
                        <input type="hidden" value="@item.Units" name="OrderItems[@i].Units" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 total_price_by_units">
            <h6>@Math.Round(item.Units * item.UnitPrice, 2).ToString("N2") $</h6>           
        </div> 
        <hr />
       
    }
</div>