@model AddUpdateCatalogVM

<form asp-action="@ViewBag.AddUpdateCatalogAction" asp-controller="Catalog" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="@Model.PictureFileName" value="@Model.PictureFileName" />
    <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
    <div class="image-block @ViewBag.DisplayImage">
        <div class="row">
            <div class="col-md-1">
                <img class="image-file" src="@ViewBag.PictureUrl" alt="uploaded temporary image" />
            </div>           
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group mb-3 input-file-block">
                    <label asp-for="@Model.ImageFile.Image" class="input-group-text image-file-label">Photo</label>
                    <input asp-for="@Model.ImageFile.Image" type="file" class="form-control image-file-input" aria-describedby="inputGroup-sizing-sm"
                           accept="image/png, image/jpeg"
                           onchange="document.querySelector('.image-file').src=window.URL.createObjectURL(this.files[0])">

                </div>
                <span asp-validation-for="@Model.ImageFile.Image" class="text-danger"></span>
                @if (!string.IsNullOrEmpty(ViewBag.SuccessfullyUpdateMessage))
                {
                    <span class="text-success">@ViewBag.SuccessfullyUpdateMessage</span>
                }
            </div>
        </div>
   </div>
    <div class="row">
        <div class="col-md-6">
            <label asp-for="@Model.Name" class="form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Name" value="@Model.Name" placeholder="Product Name">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="@Model.Description" class="form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Description" value="@Model.Description" placeholder="Description">
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <label asp-for="@Model.Price" class="form-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" asp-for="@Model.Price" value="@Model.Price.ToString("N2")" 
                    placeholder="Product Price- $" min="0" step="0.01">
            </div>
            <span asp-validation-for="@Model.Price" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <label for="inputState" class="form-label">Product Brands</label>
            <select id="inputState" class="form-select" asp-for="@Model.CatalogBrandId" asp-items="@ViewBag.Brands">
            </select>
            <span asp-validation-for="@Model.CatalogBrandId" class="text-danger"></span>
        </div>
        <div class="col-md-4 offset-md-2">
            <label for="inputState" class="form-label">Product Types</label>
            <select id="inputState" class="form-select" asp-for="@Model.CatalogTypeId" asp-items="@ViewBag.Types">
            </select>
            <span asp-validation-for="@Model.CatalogTypeId" class="text-danger"></span>
        </div>
    </div>
    <br />
    <hr />
    <div class="row">
        <div class="col-md-9 submit-item-btn-block">
            <button type="submit" class="btn btn-outline-light">Submit</button>
        </div>
        <div class="col-md-2 offset-md-1 cancel-item-btn-block">
            <button type="submit" class="btn btn-danger" name="cancel" value="cancel">Cancel</button>
        </div>
    </div>
</form>