@model IEnumerable<OrderItemVM>;
@{
    int count = 0;
}

<table class="table table-light table-striped table-hover">
    <thead>
        <tr class="customer-order-table-products-headings">
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th class="customer-order-table-heading-bigger-screen" scope="col">Total Price per Units</th>
            <th class="customer-order-table-heading-smaller-screen" scope="col">Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="customer-order-table-products-values">
                <th scope="row">@(++count)</th>
                <td>
                    <img class="customer-order-table-product-image" src="@item.PictureUrl" alt="image @(item.ProductName)" />
                </td>
                <td>@item.ProductName</td>
                <td>@(item.UnitPrice.ToString("N2")) $</td>
                <td>@item.Units</td>
                <td>@((item.UnitPrice * item.Units).ToString("N2"))</td>
            </tr>

        }
    </tbody>
</table>